---
import PaintingCard from './PaintingCard.astro';

interface Painting {
  id: string;
  sort_id: number;
  title: string;
  width_cm: number;
  height_cm: number;
  tags: string[];
}

interface Props {
  paintings: Painting[];
}

const { paintings } = Astro.props;

const sorted = [...paintings].sort((a, b) => a.sort_id - b.sort_id);
---

<div class="gallery" id="gallery">
  {sorted.map((painting) => (
    <PaintingCard
      id={painting.id}
      title={painting.title}
      width_cm={painting.width_cm}
      height_cm={painting.height_cm}
      tags={painting.tags}
    />
  ))}
</div>

<script src="../scripts/masonry.js"></script>
